.input-field{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;

  p.task{
    margin: auto;
    font-weight: bold;
  }

  input{
    margin: auto;
    width: 80%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
}

button{
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: #5b91b5;
  color: whitesmoke;
  margin: 0 15px;

  &:hover{
    background-color: rgba(49, 74, 99, 0.8);
  }

  &:active{
    transform: scale(1.2);
  }
}